.download-fics-dropdown {
    display: inline-block;
}

.dropdown-menu {
    min-width: 105px;
}

.download-fics-dropdown__item {
    padding: 10px;
    cursor: pointer;
}

.download-fics-dropdown__item:hover {
    background-color: white;
    color: black;
}

.download-fics-dropdown__item:not(:last-child) {
    border-bottom: 1px solid gray;
}

.fanfic-filter .form-inline {
    display: grid;
    gap: 5px;
}

@media (min-width: 300px) {
    .fanfic-filter .form-inline {
        grid-template-areas:
            "a a" /* fandom dropdown select */
            "b b" /* direction dropdown select */
            "c c" /* sort dropdown select */
            "d e" /* show button & download button */
            "f f" /* advanced search filters */;
    }

    .fanfic-filter .btn[type="submit"] {
        margin: 10px auto;
    }

    .fanfic-filter .fandom-id {
        max-width: unset;
    }
}

@media (min-width: 1200px) {
    .fanfic-filter .form-inline {
        grid-template-areas:
            "a a b b c c d e"
            "f f f f f f f f";
    }
}

.fanfic-filter [name="fandom_id"] {
    grid-area: a;
}

.fanfic-filter [name="direction"] {
    grid-area: b;
}

.fanfic-filter [name="sort"] {
    grid-area: c;
}

.fanfic-filter [name="submit"] {
    grid-area: d;
}

.fanfic-filter .download-fics-dropdown {
    grid-area: e;
}

.fanfic-filter .small {
    grid-area: f;
}
