.download-fics-dropdown {
    display: inline-block;
}

.dropdown-menu {
    min-width: 105px;
}

.download-fics-dropdown__item {
    padding: 10px;
    cursor: pointer;
}

.download-fics-dropdown__item:hover {
    background-color: white;
    color: black;
}

.download-fics-dropdown__item:not(:last-child) {
    border-bottom: 1px solid gray;
}

.fanfic-filter .form-inline {
    display: grid;
    grid-template-areas:
            "a a b b c c d e"
            "f f f f f f f f";
    gap: 5px;
}

.fanfic-filter [name="fandom_id"] {
    grid-area: a;
}

.fanfic-filter [name="direction"] {
    grid-area: b;
}

.fanfic-filter [name="sort"] {
    grid-area: c;
}

.fanfic-filter [name="submit"] {
    grid-area: d;
}

.fanfic-filter .download-fics-dropdown {
    grid-area: e;
}

.fanfic-filter .small {
    grid-area: f;
}
